
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1);
}
.header-item{
    font-weight: 800;
    margin-top: 60px;
}
.sign{
    margin-top: 60px;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
     background-repeat: no-repeat;
    background-position:center;
    background-size: cover; 
    height: 100vh;
    width: 100%; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px ;
    /* margin-top: 60px ; */
}
.button{
    background-color : #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    white-space: nowrap;
}
nav h3{
    color: #4E47FF;
    font-size: 34px;
}
.cool{
    text-align: center;
    padding: 37px;
   
}
.cool-content{
      justify-content: center;
      align-items: center;
}
.cool-title{
    font-size: 65px;
    margin: 100px 267px 0px ;
    margin-top: 180px;
}
.bu{
    margin-top: 37px;
    /* margin-bottom: 50px; */
   
}
/* 2nd part */
.action{
    display: flex;
    justify-content: space-between;
    margin: 141px;
    gap: 220px;
    /* max-width: 1140px; */
    /* margin-right: 60px; */
    padding: 0 45px;
}
.act-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.act-des{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-right: 100px;
    margin-bottom: 23px;
}
.act-pic{
    border-radius: 48px;
}
.act-class{
    margin-top: 70px;
}
/* 3rd part */
.join{
    text-align: center;
    max-width: 1140px;
    margin: 116px auto 0 auto;
    border-radius: 24px;
    background-color:rgba(78, 71, 255, 0.1) ;
    padding: 50px;

}
.join-title{
    font-size: 38px;
    
}
.join-items{
    display: flex;
    justify-content: space-around;
}
.join-item p{
   margin:0px;
   padding: 0px;
}
.join-rate{
    color: rgba(78, 71, 255, 1);
    font-size: 80px;
    font-weight: bold;
}
.join-what{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.joini{
    display: flex;
    justify-content: space-around;
}
/* 4th part */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.u{
    font-size: 42px;
    font-weight: bold ;
    margin-bottom: 50px;
}
.para{
    font-size: 40px;
}
h2 {
    text-align: center;
    margin: 40px 0 20px;
    color: #222;
}
.user{
    justify-items: center;
    width: 100%;
    /* padding: 60px 0px; */
    align-items: center;
     /* margin: 116px; */
     margin: 137px auto 0 auto;
     
}
.user-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 10px;
    max-width: 1140px;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.card {

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 380px;
    
}

.card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #555;
    max-width: 250px;
}

.reviewer {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 15px;
}

.reviewer img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.reviewer-info {
    font-size: 17px;
    color: #777;
}
.date{
    color: rgba(179, 179, 179, 1);
}
/* 5th part */
.focus{
    justify-items: center;
    margin: 151px;
    padding: 40px;
    background-color:#FFFFFF;
    border-radius: 10px;
    max-width: 1140px;
    margin-top: 137px;

}
.focus-title{
     font-size: 50px;
    font-weight: bold;
   margin-bottom: 20px;

}

.focus .focus-subtitle {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 20px;

}
.focus-pic{
      border-radius: 48px;

}
.nb{
     font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;

}
/* 6th part */
.touch{
    display: flex;
    justify-content: space-between;
    margin: 150px;
    max-width: 1140px;
}
.to{
    font-size: 97px;
    font-weight: bold;
    padding: 0px 30px;
    padding-top: 100px;

}
.touch-font{
    font-size:18px;
    font-weight: 700px;
    margin-bottom: 10px;
}
.touch input[type="text"], .touch input[type="email"]{
    border-color: rgba(214, 221, 237, 0.262);
    height: 35px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 497px;
    padding: 20px 32px;
    margin-bottom: 24px;
}
.touch textarea{
    border-color: rgba(214, 221, 237, 1);
    height: 110px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 497px;
    padding: 20px 32px;
    margin-bottom: 24px;
}
::placeholder{
    font-size: 20px;
}
.touch-b{

    width: 500px;
    height: 75px;
    font-size:16px;
}
.touch-g{
    gap: 60px;
    text-align:left;
}
/* Footer part */
.footer{
    text-align: center;
    background-color: white;
    padding: 120px;
}
.footer-title{
    color: rgba(78, 71, 255, 1);
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 8px;
}
.f-des{
    color: #8987A1;
    text-align: center;
    font-size: 16px;
    font-weight: 300px;

}
.footer-div{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 20px;
    font-size: 16px;
}
.footer-last{
    color: rgba(137, 135, 161, 1);
    font-size: 19px;
    font-weight:300px;
}
.button:hover{
    background-color: skyblue;
    color: black;
    cursor: pointer;
}